<h2>新規コメント追加</h2>

<%= form_with model: @comment, url: admin_comments_path, method: :post do |f| %>
  <div>
    <%= f.label :user_id, "投稿者（ユーザー）" %>
    <%# プルダウンの選択肢をDB内のあるテーブルの特定のカラムの内容 f.collection_selectタグ :保存先のカラム名, テーブル（モデル）名.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名 %>
    <%= f.collection_select :user_id, User.all, :id, :nickname, include_blank: "ユーザーを選択", class: "form-control" %>
  </div>

  <div>
    <%= f.label :post_id, "対象投稿（タイトル）" %>
    <%# プルダウンの選択肢をDB内のあるテーブルの特定のカラムの内容 f.collection_selectタグ :保存先のカラム名, テーブル（モデル）名.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名 %>
    <%= f.collection_select :post_id, Post.all, :id, :title, include_blank: "投稿を選択", class: "form-control" %>
  </div>

  <div>
    <%= f.label :body, "コメント内容" %>
    <%= f.text_area :body, rows: 4, class: "form-control" %>
  </div>

  <%= f.submit "追加", class: "btn btn-success" %>
<% end %>

あとで実装 
② 投稿一覧を横に表示する（中級レベルの改善） プルダウンで投稿を選ぶと、右横にその投稿の詳細が表示されるようにする（JavaScriptを使用）。
例： 投稿を選択すると、その下や横に title、body、投稿者などをAjaxで表示。 これしてみたい 
非同期通信まだ