<div class="container mt-4">
<h1 class="mb-4">現在募集しているグループ一覧</h1>

<% if @groups.any? %>
    <table class="table table-hover align-middle">
      <thead class="table-light">
    <thead>
      <tr>
        <th>オーナーID</th>
        <th>作成者</th>
        <th>グループアイコン</th>
        <th>グループ名</th>
        <th>作成日時</th>
        <th>紹介文</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.owner_id %></td>
          <td><%# user.nickname %></td><%# →ここ直す %>
          <td>
            <% if group.group_image.attached? %>
              <%= image_tag group.group_image.variant(resize_to_limit: [600, 400]), class: "img-fluid rounded", style: "width: 100px; height: auto;" %>
            <% else %>
              <span class="text-muted">なし</span>
            <% end %>
          </td>
          <td><%= group.group_name %></td>
          <td>
            <%# JST表示 config/initializers/time_formatsにフォーマット記述 %>
            <%= group.created_at.to_s(:datetime_jp) %>
          </td>
          <td><%=  truncate(group.description, length: 50) %></td>
          <td><%= link_to "詳細", group_path(group), class: "btn btn-outline-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <div class="alert alert-info">
      現在、募集しているグループはありません。
    </div>
<% end %>

<%= link_to "新しいグループを作成", new_group_path, class: "btn btn-success mt-3" %>
</div>