<h1>投稿一覧画面</h1>

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div>
      <%# 画像表示（画像がなければデフォルト表示） %>
      <%= image_tag post.get_image, class: "rounded float-start w-50" %>
    </div>

    <div>
      <h5><%= post.title %></h5>
      <p><%= post.body %></p>
      <p>住所：<%= post.address %></p>

      <%# 詳細ページへのリンク%>
      <p><%= link_to "詳細を見る", post_path(post), class: "btn btn-outline-primary btn-sm" %></p>
    </div>
  <% end %>
<% else %>
    <p>投稿はまだありません。<p>
<% end %>