<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm rounded-3">
        <div class="card-header text-dark" style="background-color: #d4edda;">
          <h4 class="mb-0">投稿フォーム</h4>
        </div>
        <div class="card-body">

          <%= render 'public/posts/error_messages', post: @post %>

          <%= form_with model: @post, html: { multipart: true } do |f| %>
            <div class="mb-3">
              <%= f.label :title, "タイトル（必須 100文字以内）", class: "form-label" %>
              <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください", required: true, maxlength: 100 %>
              <div class="invalid-feedback">
                タイトルは必須です（100文字以内）。
              </div>
            </div>

            <%# 時間があれば文字カウント付ける %>
            <div class="mb-3">
              <%= f.label :body, "説明（必須 1000文字以内）", class: "form-label" %>
              <%= f.text_area :body, class: "form-control", placeholder: "説明文を入力してください", rows: 4, required: true, maxlength: 1000 %>
              <div class="invalid-feedback">
                説明は必須です（1000文字以内）。
              </div>
            </div>

            <%# 郵便番号は今回は保存する対象ではないため、text_field_tagを使用して単純なinputタグを生成 %>
            <div class="mb-3">
              <%= f.label :zipcode, "郵便番号", class: "form-label" %>
              <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号を入力してください（例: 123-4567）" %>
            </div>

            <div class="mb-3">
              <%= f.label :address, "住所（必須）", class: "form-label" %>
              <%= f.text_field :address,required: true, class: "form-control", placeholder: "住所を入力してください" %>
            </div>

            <div class="mb-3">
              <%= f.label :image, "写真アップロード", class: "form-label" %><br>
              <%= f.file_field :image, required: true %>
            </div>

            <div class="d-flex justify-content-end">
              <%= f.submit "投稿する", class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<%# Javascriptを読み込む処理 %>
<%= javascript_pack_tag "jpostal", 'data-turbolinks-track': 'reload' %>
