<h1>画像投稿フォーム</h1>

<%= render 'public/posts/error_messages', post: @post %>

<%= form_with model: @post do |f| %>

  <div>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>

  <%= f.label :body, "説明" %>
  <%= f.text_area :body, class: "form-control", placeholder: "説明文" %>

  <%# 郵便番号は今回は保存する対象ではないため、text_field_tagを使用して単純なinputタグを生成 %>
  <%= f.label :zipcode, "郵便番号" %>
  <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号" %>

  <%= f.label :address, "住所" %>
  <%= f.text_field :address, class: "form-control", placeholder: "住所" %>

  <%= f.label :image, "写真" %><br>
  <%= f.file_field :image %>
  </div>

  <%= f.submit "投稿する", class: "btn btn-success mt-3" %>

<% end %>

<%# Javascriptを読み込む処理 %>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>

