<h1>投稿詳細画面</h1>

<div>
  <%= image_tag @post.get_image, class: "rounded float-start w-50"  %>
  <div>
    <h5><%= @post.title %></h5>
    <p><%= @post.body %></p>
    <p class="text-muted mb-1">
      住所：<%= @post.address %>
    </p>

    <p>緯度：<%= @post.latitude %></p>
    <p>経度：<%= @post.longitude %></p>
  
    <%# 日時のフォーマットをja.ymlで管理→後で直す %>
    <p>投稿日： <%= @post.created_at.strftime('%Y/%m/%d') %></p>
    <p>
      コメント数： <%= @post.comments.count %>
    </p>
  </div>

  <% if @post.user == current_user %>
    <div>
      <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-secondary btn-sm me-2" %>
      <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-primary btn-sm" %>
    </div>
  <% end %>

  <%= render 'public/comments/new' %>
</div>

<hr>

<h3>Google Map 表示</h3>
<div id="map" style="height: 400px; width: 100%;"></div>

<script>
  window.POST_ID = <%= @post.id %>;
  window.LATITUDE = <%= @post.latitude || 35.681236 %>;
  window.LONGITUDE = <%= @post.longitude || 139.767125 %>;
  window.TITLE = "<%= j @post.title %>";
</script>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>



