<!DOCTYPE html>
<html>
  <head>
    <title>NatureGuide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a0e640a8a8.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'layouts/header' %>

      <main class="flex-grow-1">
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <div class="d-flex justify-content-center mb-2">
        <%= render "public/searches/form" %>
      </div>
      <%= yield %>
      </main>

    <%= render 'layouts/footer' %>

    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>

    <script 
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= @maps_api_key %>&callback=initMap&libraries=marker">
    </script>
  </body>
</html>
